* {
    margin: 5px;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color:whitesmoke;
    padding: 5px;
}

.hero {
    background-color:navy;
    color: whitesmoke;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: solid;
    border-color:darkslateblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.btn {
    background-color:navy;
    color: white;
    text-align: center;
    border: solid;
    border-color:midnightblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    width: 100%;
}

.btn:hover {
    transform:scale(110%);
}

.card {
    margin-bottom: 10px;
    background-color:whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.form-input {
    width: 100%;
    margin-bottom: 20px;
}

.list-group button {
    height: 30px;
}

.card-deck div {
    text-align: left;
    height: 150px;
}