* {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color:whitesmoke;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero {
    background-color:navy;
    color: whitesmoke;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: solid;
    border-color:darkslateblue;
}

.btn {
    background-color:navy;
    color: white;
    text-align: center;
    border: solid;
    border-color:midnightblue;
    width: 100%;
    margin-bottom: 20px;
}

.btn:hover {
    transform:scale(105%);
}

.form-input {
    width: 100%;
    margin-bottom: 20px;
}

#searchHistory {
    border-top: solid 1px black;
    padding-top: 30px;
}

#searchHistory button {
    align-items: center;
    background-color:lightgrey;
}

#searchHistory button:hover{
    transform: scale(105%);
}

#city-info {
    border: solid;
    border-width: 1px;
    border-color: black;
    padding: 20px;
}

#five-day {
    font-size: smaller;
}
